### NYC Inmates

###### This notebook aims to analyse and visualise inmate data collected by New York City prisons in order to answer questions  such as the possibility of a relationship between the mental health of an inmate and violence and whether or not prisons need to improve mental health facilities.

###### 1. Data Cleaning
###### 2. Exploratory Data Analysis
###### 3. Data Visualisation
###### 4. Conclusion

In [21]:
#importing the necessary packages
import plotly.dashboard_objs as dashboard
import IPython.display
from IPython.display import Image
 
dboard = dashboard.Dashboard()
import pandas as pd

import plotly.graph_objs as go
import seaborn as sns
import matplotlib.pyplot as plt

from plotly.offline import plot
import scipy

In [2]:
# chart_studio.tools.set_credentials_file(username='millie_n', api_key='oOaKfFuIv4B1PlY107O7')

In [4]:
#reading in the data
df = pd.read_csv('daily-inmates-in-custody.csv')

In [5]:
# checking missing values
df.isnull().sum()

INMATEID                 0
ADMITTED_DT              0
DISCHARGED_DT         7151
CUSTODY_LEVEL          156
BRADH                    0
RACE                    24
GENDER                  24
AGE                     13
INMATE_STATUS_CODE       0
SEALED                   0
SRG_FLG                  0
TOP_CHARGE             872
INFRACTION               0
dtype: int64

###### All the values in the DISCHARGED_DT column are missing so I am dropping the column.

In [6]:
df.dropna(axis=1,how='all')

,INMATEID,ADMITTED_DT,CUSTODY_LEVEL,BRADH,RACE,GENDER,AGE,INMATE_STATUS_CODE,SEALED,SRG_FLG,TOP_CHARGE,INFRACTION
0,152258,2018-08-24T01:46:33.000,MIN,Y,W,M,54.0,DE,N,N,140.25,N
1,20124341,2018-06-13T00:59:55.000,MAX,Y,W,M,23.0,DE,N,N,125.25,Y
2,155323,2019-02-05T12:04:19.000,MAX,N,B,M,31.0,CS,N,Y,105.05,Y
3,118754,2019-02-24T18:22:23.000,MAX,N,O,M,28.0,CS,N,N,NaN,Y
4,20203998,2019-05-02T01:35:22.000,MAX,Y,B,M,27.0,DE,N,N,125.25,Y
5,20200982,2019-08-09T18:03:42.000,MIN,N,O,M,57.0,CSP,N,N,160.05,N
6,20100177,2019-06-29T12:49:17.000,MIN,N,O,M,48.0,CS,N,N,155.25,N
7,20006004,2019-05-23T13:19:00.000,MED,N,B,M,34.0,DEP,N,N,155.30,N
8,20173572,2019-08-13T11:19:00.000,MED,N,B,M,19.0,DE,N,N,160.15,N
9,49115,2019-02-12T20:02:00.000,MIN,N,O,M,57.0,CS,N,N,110-140.20,N
10,52407,2019-08-15T16:47:00.000,MED,Y,B,M,49.0,DEP,N,N,125.25,N
11,20274,2019-08-18T11:25:34.000,MIN,N,W,M,56.0,DE,N,N,130.52,N
12,10008398,2019-04-09T17:11:00.000,MAX,N,B,M,27.0,DE,N,N,FOA 900.00,Y
13,20202447,2019-02-26T16:25:00.000,MIN,N,B,M,62.0,DE,N,N,155.40,N
14,20201656,2019-08-04T00:56:00.000,MED,N,B,M,22.0,DE,N,N,140.25,N
15,20206560,2019-08-23T11:50:01.000,NaN,N,B,F,20.0,DE,N,N,240.50,N
16,86172,2018-09-07T14:14:05.000,MED,Y,O,M,42.0,DE,N,N,160.15,N
17,20141900,2019-08-19T14:34:18.000,MED,Y,O,M,40.0,DE,N,N,155.25,N
18,20098825,2019-08-10T20:04:23.000,MIN,Y,B,M,57.0,DE,N,N,AC 000.00,N
19,62293,2019-03-07T16:12:01.000,MIN,Y,O,M,35.0,DE,N,N,140.25,N
20,20202688,2019-03-08T13:13:10.000,MAX,N,B,M,21.0,DE,N,N,125.25,Y
21,20206522,2019-08-21T17:24:56.000,MED,N,B,M,18.0,DE,N,N,110-125.25,N
22,20205165,2019-06-20T19:16:38.000,MED,N,O,M,60.0,DE,N,N,125.25,N
23,20028515,2019-07-18T13:23:05.000,MIN,N,B,M,42.0,DE,N,N,265.02,N
24,150713,2019-02-15T16:51:05.000,MIN,Y,O,M,36.0,CS,N,N,140.20,N
25,20093288,2019-08-13T12:05:31.000,MIN,N,B,M,58.0,DE,N,N,VOP,N
26,20124830,2019-07-29T14:50:19.000,MED,Y,B,M,54.0,DPV,N,N,NaN,N
27,63421,2019-08-23T01:23:25.000,MIN,N,B,M,52.0,DE,N,N,220.03,N
28,9692,2019-06-09T16:51:55.000,NaN,N,O,M,52.0,DE,N,N,NaN,N
29,20198661,2019-07-02T10:43:36.000,MED,N,O,M,22.0,DPV,N,Y,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...
7121,97145,2018-12-13T13:27:04.000,MED,N,B,M,42.0,DE,N,N,125.25,N
7122,20198573,2018-09-24T18:10:27.000,MED,N,O,M,47.0,DE,N,N,125.25,N
7123,20198816,2018-10-04T02:50:41.000,MIN,Y,O,M,62.0,DE,N,N,220.43,N
7124,20184949,2017-07-23T05:53:59.000,MAX,N,B,M,23.0,DE,N,Y,220.16,Y
7125,20179901,2017-03-22T20:08:04.000,MED,Y,B,M,38.0,DE,N,N,125.27,N
7126,19225,2017-02-03T21:36:59.000,MED,Y,B,M,43.0,DE,N,N,125.25,N
7127,20124233,2019-01-09T00:38:11.000,MAX,Y,O,M,22.0,DE,N,Y,120.05,N
7128,20093747,2018-11-14T01:38:36.000,MAX,Y,B,M,46.0,DE,N,N,110-125.25,N
7129,20111213,2018-08-14T12:59:54.000,MAX,Y,O,M,22.0,DE,N,Y,160.15,Y
7130,20191514,2018-06-27T20:06:24.000,MAX,Y,B,M,25.0,DE,N,Y,125.27,Y
7131,20048181,2019-01-25T12:01:00.000,MAX,N,O,M,25.0,DE,N,Y,265.03,N
7132,20195614,2018-07-26T12:45:35.000,MED,N,O,M,37.0,DE,N,N,130.75,Y
7133,73623,2018-08-01T01:13:41.000,MIN,N,B,M,54.0,DE,N,N,121.12,N
7134,106817,2018-10-03T15:57:00.000,MIN,Y,B,M,38.0,DE,N,N,265.03,N
7135,93606,2018-01-22T23:57:24.000,MAX,Y,B,M,35.0,DE,N,Y,110-125.25,Y
7136,20070750,2018-03-01T16:46:57.000,MED,Y,O,M,45.0,DE,N,N,105.10,Y
7137,152473,2018-03-03T00:37:23.000,MIN,Y,W,M,40.0,DE,N,N,265.03,Y
7138,20195375,2018-08-18T20:24:10.000,MIN,N,W,M,48.0,DE,N,N,140.25,Y
7139,47213,2018-12-10T20:04:17.000,MIN,Y,O,M,46.0,DEP,N,N,140.25,N
7140,14481,2017-08-23T17:21:51.000,MED,N,W,M,40.0,DE,N,N,130.96,N
7141,20108077,2017-08-02T15:11:39.000,MIN,Y,B,M,22.0,DE,N,N,230.34,Y
7142,128938,2019-01-19T20:30:00.000,MED,Y,B,M,37.0,DE,N,N,130.65,N
7143,108412,2018-08-05T01:35:46.000,MIN,N,B,M,48.0,DE,N,N,140.25,N
7144,50756,2018-05-08T10:56:00.000,MAX,N,B,M,40.0,DE,N,Y,125.25,Y
7145,20081355,2017-11-09T20:17:30.000,MAX,N,B,M,27.0,DEP,N,Y,120.10,Y
7146,20191722,2019-01-10T19:08:32.000,MAX,Y,B,M,22.0,DE,N,N,160.15,Y
7147,167979,2018-09-19T16:21:38.000,MIN,N,B,M,43.0,DE,N,N,220.41,N
7148,63284,2018-08-31T01:51:21.000,MAX,Y,O,M,52.0,DE,N,N,130.65,N
7149,20044036,2018-03-05T11:50:12.000,NaN,N,B,M,25.0,DE,N,N,VTL 511,N
7150,102366,2015-03-25T21:33:00.000,MAX,Y,B,M,32.0,DE,N,Y,125.25,Y

###### The null hypothesis states that there is no relationship between mental health and being potentially violent. 
###### The alternative hypothesis states that there is a strong relationship between inmates under mental observation and being potentially violent.

In [27]:
r = scipy.stats.pearsonr((df['BRADH'] == 'Y'),(df['INFRACTION'] == 'Y'))
r

(0.17296678612605018, 3.8235682266464816e-49)

###### A p value of 3.8e-49 disproves the null hypothesis and leads me to accepting the alternative hypothesis which states that inmates under mental observation are in fact potentially violent. This shows that there is statistical significance between the two variables.

In [7]:
mental_obs_custody = df[(df.BRADH == 'Y') & (df.INFRACTION == 'Y')]
mental_obs_custody.count()

INMATEID              1313
ADMITTED_DT           1313
DISCHARGED_DT            0
CUSTODY_LEVEL         1313
BRADH                 1313
RACE                  1312
GENDER                1312
AGE                   1313
INMATE_STATUS_CODE    1313
SEALED                1313
SRG_FLG               1313
TOP_CHARGE            1219
INFRACTION            1313
dtype: int64

 ###### This is a count of all inmates who are under mental observation and are potentially harmful.

In [8]:
mental_custody = mental_obs_custody['CUSTODY_LEVEL'].value_counts(normalize=False).to_frame()
label = mental_custody.index.tolist()
value = mental_custody['CUSTODY_LEVEL'].tolist()
mo = go.Pie(labels=label,values=value)
layout = go.Layout(   
        title='Custody Levels of Inmates Under Mental Observation With Infractions',
        height=600,
        margin=go.Margin(l=0, r=200, b=100, t=100, pad=4)   # Margins - Left, Right, Top Bottom, Padding
        )

fig = go.Figure(data=[mo], layout=layout)
plot(fig)

/home/madi/.local/lib/python3.7/site-packages/plotly/graph_objs/_deprecations.py:396: DeprecationWarning:

plotly.graph_objs.Margin is deprecated.
Please replace it with one of the following more specific types
  - plotly.graph_objs.layout.Margin

'file:///home/madi/Desktop/dashboard/temp-plot.html'

In [9]:
mental = df[(df['BRADH'] == 'Y') & (df['CUSTODY_LEVEL'])]
mental_custody_level = mental['CUSTODY_LEVEL'].value_counts(normalize=False).to_frame()
label = mental_custody_level.index.tolist()
value = mental_custody_level['CUSTODY_LEVEL'].tolist()
moc = go.Pie(labels=label,values=value) 
layout = go.Layout(   
        title='Custody Levels of Inmates Under Mental Observation',
        height=600,
        margin=go.Margin(l=0, r=200, b=100, t=100, pad=4)   # Margins - Left, Right, Top Bottom, Padding
        )

fig = go.Figure(data=[moc], layout=layout)
plot(fig)

/home/madi/.local/lib/python3.7/site-packages/plotly/graph_objs/_deprecations.py:396: DeprecationWarning:

plotly.graph_objs.Margin is deprecated.
Please replace it with one of the following more specific types
  - plotly.graph_objs.layout.Margin

'file:///home/madi/Desktop/dashboard/temp-plot.html'

In [10]:
date = df['BRADH'].value_counts(normalize=False).to_frame()
labels = date.index.tolist()

values = date['BRADH'].tolist()
mo = [go.Bar(x=labels,y=values)]
layout = dict(title = "Inmates Under Mental Observation",
              xaxis= dict(title= 'Mental Observation',ticklen= 5,zeroline= False))
fig = dict(data = mo, layout = layout)
# plot.sign_in('millie_n', '686orP7Nbe1JFcss9NfB')




plot(fig)

'file:///home/madi/Desktop/dashboard/temp-plot.html'

In [11]:
custodyl = df['CUSTODY_LEVEL'].value_counts(normalize=False).to_frame()
labels = custodyl.index.tolist()
values = custodyl['CUSTODY_LEVEL'].tolist()
bar = [go.Bar(x=labels,y=values)]

layout = dict(title = "Custody Levels for Inmates",
              xaxis= dict(title= 'Custody Level',ticklen= 5,zeroline= False))
fig = dict(data = bar, layout = layout)
plot(fig)

'file:///home/madi/Desktop/dashboard/temp-plot.html'

In [12]:
race = df['RACE'].value_counts(normalize=False).to_frame()
labels = race.index.tolist()
values = race['RACE'].tolist()
title = 'Distribution of different races in prison'

pie = go.Pie(labels=labels,values=values)
layout = go.Layout(   
        title=title,
        height=600,
        margin=go.Margin(l=0, r=200, b=100, t=100, pad=4)   # Margins - Left, Right, Top Bottom, Padding
        )

fig = go.Figure(data=[pie], layout=layout)
plot(fig)

/home/madi/.local/lib/python3.7/site-packages/plotly/graph_objs/_deprecations.py:396: DeprecationWarning:

plotly.graph_objs.Margin is deprecated.
Please replace it with one of the following more specific types
  - plotly.graph_objs.layout.Margin

'file:///home/madi/Desktop/dashboard/temp-plot.html'

In [13]:
date = df['SRG_FLG'].value_counts(normalize=False).to_frame()
labels = date.index.tolist()

values = date['SRG_FLG'].tolist()
data = [go.Bar(x=labels,y=values)]
layout = dict(title = "Inmates Affiliated With a Gang",
              xaxis= dict(title= 'Gang Affiliation',ticklen= 5,zeroline= False))
fig = dict(data = data, layout = layout)
plot(fig)

'file:///home/madi/Desktop/dashboard/temp-plot.html'

In [14]:
age = df['AGE'].value_counts(normalize=False).to_frame()
labels = age.index.tolist()
values = age['AGE'].tolist()
title = 'Distribution of different ages in prison'

trace = go.Bar(x=labels,y=values)
layout = go.Layout(   
        title=title,
        xaxis= dict(title= 'Ages',ticklen= 5,zeroline= False),
        yaxis= dict(title= 'Number of Inmates',ticklen= 5,zeroline= False),
        height=600,
        margin=go.Margin(l=0, r=200, b=100, t=100, pad=4)  # Margins - Left, Right, Top Bottom, Padding
        )

fig = go.Figure(data=[trace], layout=layout)
plot(fig)

/home/madi/.local/lib/python3.7/site-packages/plotly/graph_objs/_deprecations.py:396: DeprecationWarning:

plotly.graph_objs.Margin is deprecated.
Please replace it with one of the following more specific types
  - plotly.graph_objs.layout.Margin

'file:///home/madi/Desktop/dashboard/temp-plot.html'

In [15]:
infract = df['INFRACTION'].value_counts(normalize=False).to_frame()
labels = infract.index.tolist()
values = infract['INFRACTION'].tolist()
title = 'Inmates who have infractions'

infract = go.Pie(labels=labels,values=values)
layout = go.Layout(   
        title=title,
        height=600,
        margin=go.Margin(l=0, r=200, b=100, t=100, pad=4)   # Margins - Left, Right, Top Bottom, Padding
        )

fig = go.Figure(data=[infract], layout=layout)
plot(fig)

/home/madi/.local/lib/python3.7/site-packages/plotly/graph_objs/_deprecations.py:396: DeprecationWarning:

plotly.graph_objs.Margin is deprecated.
Please replace it with one of the following more specific types
  - plotly.graph_objs.layout.Margin

'file:///home/madi/Desktop/dashboard/temp-plot.html'

In [16]:
gender = df['GENDER'].value_counts(normalize=False).to_frame()
label = gender.index.tolist()
value = gender['GENDER'].tolist()
mo = go.Pie(labels=label,values=value)
layout = go.Layout(   
        title='Gender',
        height=600,
        margin=go.Margin(l=0, r=200, b=100, t=100, pad=4)   # Margins - Left, Right, Top Bottom, Padding
        )

fig = go.Figure(data=[mo], layout=layout)
plot(fig)

/home/madi/.local/lib/python3.7/site-packages/plotly/graph_objs/_deprecations.py:396: DeprecationWarning:

plotly.graph_objs.Margin is deprecated.
Please replace it with one of the following more specific types
  - plotly.graph_objs.layout.Margin

'file:///home/madi/Desktop/dashboard/temp-plot.html'

In [17]:
plots = [mo,bar,pie,trace,infract]

In [38]:
box_1 = {
    'type': 'box',
    'boxType': 'plot',
    'fileId': 'file:///home/madi/Desktop/dashboard/temp-plot.html',
    'title': 'scatter-for-dashboard'
}

box_2 = {
    'type': 'box',
    'boxType': 'plot',
    'fileId': 'file:///home/madi/Desktop/dashboard/temp-plot.html',
    'title': 'pie-for-dashboard'
}

box_3 = {
    'type': 'box',
    'boxType': 'plot',
    'fileId': 'file:///home/madi/Desktop/dashboard/temp-plot.html',
    'title': 'box-for-dashboard',
    'shareKey':'None'
}

dboard.insert(box_1)

PlotlyError: Make sure the box_id is specfied if there is at least one box in your dashboard.

In [39]:
dboard.insert(box_2,'below',1)